[Unit]
Description=Inky Slideshow
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/SISOSIG-Sign
Environment="PATH=/home/pi/.virtualenvs/pimoroni/bin:/usr/bin"
ExecStart=/home/pi/.virtualenvs/pimoroni/bin/python /home/pi/SISOSIG-Sign/slideshow.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
